@model PaginatedList<RecipeManager.Models.Recipe>

@{
    ViewData["Title"] = "SearchByName";
}

@if (ViewBag.SearchFilter == null)
{
    <h1>@ViewBag.ResultCount results for @ViewBag.SearchPhrase</h1>
}
else
{
    <h1>@ViewBag.ResultCount results for @ViewBag.SearchPhrase + @ViewBag.SearchFilter</h1>
}

<div class="row">
    <div class="col-md-3 col-lg-2 border">
        <h3>Filters</h3>
        <form asp-controller="Recipes" asp-action="SearchByPhrase">
            <input type="hidden" name="phrase" value="@ViewBag.SearchPhrase" />
            <div class="form-check">
                <input class="form-check-input" type="radio" name="filter" value="breakfast" checked>
                <label class="form-check-label">
                    Breakfast
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="filter" value="brunch">
                <label class="form-check-label">
                    Brunch
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="filter" value="lunch">
                <label class="form-check-label">
                    Lunch
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="filter" value="dinner">
                <label class="form-check-label">
                    Dinner
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="filter" value="dessert">
                <label class="form-check-label">
                    Dessert
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="filter" value="snack">
                <label class="form-check-label">
                    Snack
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="filter" value="beverage">
                <label class="form-check-label">
                    Beverages
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="filter" value="low sugar">
                <label class="form-check-label">
                    Low Sugar
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="filter" value="keto">
                <label class="form-check-label">
                    Keto
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="filter" value="paleo">
                <label class="form-check-label">
                    Paleo
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="filter" value="vegan">
                <label class="form-check-label">
                    Vegan
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="filter" value="vegetarian">
                <label class="form-check-label">
                    Vegetarian
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="filter" value="dairy free">
                <label class="form-check-label">
                    Dairy Free
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="filter" value="gluten free">
                <label class="form-check-label">
                    Gluten Free
                </label>
            </div>
            <input type="submit" value="Apply Filters" class="btn btn-primary mt-1 mb-2" />
        </form>
    </div>
    <div class="col-md-9 col-lg-10">
        <table class="table table-bordered">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td rowspan="4" class="w-25">
                            <img class="card-img-top m-auto d-block" src="data:image/jpeg;base64,@Convert.ToBase64String(item.Photo)" style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%; cursor: pointer;" onclick="location.href='@Url.Action("Details", "Recipes", new { recipeID=item.Id})'" />
                            <h5 class="card-title text-center">@Html.DisplayFor(modelItem => item.Name)</h5>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Time: </b>@item.Time</td>
                        <td rowspan="3"><b>Description</b><br />@item.Description</td>
                    </tr>
                    <tr>
                        <td><b>Servings: </b>@item.Servings</td>
                    </tr>
                    <tr>
                        @if (item.RatingCount == 0)
                        {
                            <td>Unrated</td>
                        }
                        else
                        {
                            <td>
                                @for (var x = 0; x < item.RatingAverage; x++)
                                {
                                    <img style="width:25px; height:25px;" src="~/images/ratingIcon.png" />
                                }
                            </td>
                        }
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                    </tr>
                }
            </tbody>
        </table>

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-action="SearchByPhrase"
           asp-route-phrase="@ViewBag.SearchPhrase"
           asp-route-filter="@ViewBag.SearchFilter"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           class="btn btn-outline-secondary @prevDisabled">
            Previous
        </a>
        <a asp-action="SearchByPhrase"
           asp-route-phrase="@ViewBag.SearchPhrase"
           asp-route-filter="@ViewBag.SearchFilter"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           class="btn btn-outline-secondary @nextDisabled">
            Next
        </a>
    </div>
</div>
